/* ##############################
** Front
** ############################## */

.front__wrapper {
  margin: 0 auto;
  padding-top: 45px;
}

.front__title {
  text-align: center;
  font-size: 16px;
}

.front__subtitle {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

.front__table {
  margin: 70px auto 0;
  border-collapse: collapse;
}

.front__table-cell {
  font-size: 14px;
  vertical-align: top;
  padding-bottom: 5px;
}

.front__table-cell--first {
  font-weight: bold;
  width: 220px;
}

.front__table-cell--second {
  border-bottom: 1px solid #000;
  padding-left: 6px;
  width: 620px;
}